@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');


@font-face {
  font-family: 'HSBombaram21-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YESMyoungjo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}





ul {padding-inline-start: 0px;}
h2 { margin-block-start: 0;
    margin-block-end: 0;}

a, a:visited, a:link {
  text-decoration: none;
  color: #570708;
}

body, html {
    height: 100%;
    margin: 0;
  }

body {
    color: #570708;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.intro-box {
    background-image: url("./images/intro-2.jpg");
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
}

.intro-logo {
    width:500px;
    max-width: 90%;
}

.home-box {
    background-image: url("./images/background-2.jpg");
    height: 100%;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    overflow-y: auto;
}

.home-box-box {
    width:600px;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}

.x-logo {
    width:22px;
    float: right;
    margin-top: 52px;
    margin-right: 10px;
}
  
hr {
    background: #570708;
    height:1px;
    border:0;
}

.title {
    font-size: 1.3em;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'HSBombaram21-Regular';
}

.home-logo {
  width:300px;
  max-width: 80%;
  margin-top: 20px;
}

.vintage {
  width:500px;
  max-width: 90%;
}

.link-box-1 {
  font-size: 1.6em;
  font-family: 'HSBombaram21-Regular';
  background-image: url("./images/paper.png");
  width: 180px;
  height: 220px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.link-box-2 {
  font-size: 1.6em;
  font-family: 'HSBombaram21-Regular';
  background-image: url("./images/paper.png");
  width: 180px;
  height: 220px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.link {
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
    width: 100%;
  height: 100%;
}

.link a {
  text-decoration: none;
  color: #570708;
}

.sub {
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'YESMyoungjo-Regular';
  margin-top: 30px;
}





.art-box {
  font-size: 1em;
  font-family: 'YESMyoungjo-Regular';
  padding: 10px;
  background-color: #570708;
  display: inline-block;

  width: 250px;
  max-width: 80%;
  margin: 10px;
}

.art-box a {
  text-decoration: none;
  color: white;
}

  @media screen and (max-width: 768px) {
    
  }
